body{
    margin: 0;
}
.fir{
    background-color:red;
    height: 200px;
    width:200px;
    /* display: inline-block;
    position: relative;
    left: 405px; */
    position: absolute;
    top: 400px;
    left:400px;
}
.mid{
    background-color: blue;
    height: 200px;
    width: 200px;
    /* display: inline-block;
    position: relative;
    right: 200px; */
    position:absolute;
    left: 200px;
    top: 200px;
}

.end{
    background-color: yellow;
    height: 200px;
    width: 200px;
    /* display: inline-block; 
    position: relative;
    right: 205px; */
    position:absolute; 
    bottom: 470px; 
    /* top: 10px; */
}